@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&family=Tilt+Neon&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #FFFFFF;
    --cor-tercearia: #eec671;
    --cor-quartenaria: #302e2e;
    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
    --fonte-tercearia: 'Tilt Neon', sans-serif;
    --tamanhofonte-primaria: 2.155vw;
    --tamanhofonte-secundaria: 1.8vw;
    --tamanhofonte-terceario: 1.5vw;
    --tamanhofonte-quartenaria: 1.2vw;
    --border-radius: 0.3rem;
}

* {
    line-height: 1.3;
}

.cabecalho {
    background-color: var(--cor-tercearia);
    padding: 0 11.25vw;
}

.cabecalho__menu {
    display: flex;
    gap: max(2.8vw, 3rem);
    height: 0.2rem;
}

.cabecalho__menu__link {
    text-decoration: none;
    font-size: max(1.5vw, 1.57rem);
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    padding-top: 0.4rem;
}

body {
    min-width: 320px;
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.titulo-destaque {
    color: var(--cor-tercearia);
}

.span1 {
    white-space: nowrap;
    color: var(--cor-tercearia);
    border: 0.1rem solid var(--cor-tercearia);
    padding-inline: max(0.5rem, 0.469vw);
    background-color: var(--cor-primaria);
}

.span2 {
    color: var(--cor-tercearia);
    border: 0.2rem solid var(--cor-tercearia);
    padding-top: 2rem;
    padding-inline: max(1rem, 0.94vw);
    padding-bottom: max(0.6rem, 0.5625vw);
    background-color: var(--cor-primaria);
}

.span2:hover {
    background-color: var(--cor-quartenaria);
}

.apresentacao__box {
    padding-top: max(5rem, 4.6875vw);
    padding-inline: 3.5%;
    padding-bottom: max(3rem, 2.8125vw);
    display: flex;
    flex-direction: column;
    gap: max(2rem, 1.875vw);
}

.apresentacao__inicial {
    display: flex;
    flex-direction: column;
    gap: max(2rem, 1.875975vw);
    text-align: center;
    align-items: center;
}

.apresentacao__inicial__titulo {
    font-size: max(2.15625vw, 2.3rem);
    font-family: var(--fonte-primaria);
    text-align: center;
}

.apresentacao__inicial__texto {
    min-width: 17rem;
    width: max(33.75vw, 36rem);
    font-size: max(1.6875vw, 1.8rem);
    font-family: var(--fonte-secundaria);
}

.painel__apresentacao {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: max(2rem, 1.875vw);
}

.apresentacao__links__box__primario {
    flex-direction: column;
    width: max(18rem, 16.38vw);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: max(1.2rem, 1.125585vw);
}

.apresentacao__links__box__secundario {
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: max(1.5rem, 1.40625vw);
}

.apresentacao__links__subtitulo__box {
    width: max(11.2508vw, 12rem);
    border-radius: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-tercearia);
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size: max(1.21875vw, 1.3rem);
    color: var(--cor-primaria);
    text-align: center;
    line-height: 1.6;
}

.apresentacao__links__botao {
    width: max(12rem, 11.25081vw);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;
    font-size: max(1.3125vw, 1.4rem);
    font-weight: 600;
    text-decoration: none;
    border: 0.15rem solid var(--cor-tercearia);
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    padding-block: max(0.5rem, 0.46875vw);
}

.apresentacao__links__botao:hover {
    background-color: var(--cor-quartenaria);
}

.imglogo {
    width: max(2rem, 1.875vw);
}

.chuck__box {
    display: flex;
    box-sizing: border-box;
}

.chuck__img {
    border: 0.15rem solid var(--cor-tercearia);
    border-radius: 0.3rem;
    width: max(600px,31.25vw);
    min-width: 280px
}

.sobre__mim__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: max(5rem, 4.6875vw);
    padding-inline: 3.5%;
    padding-bottom: max(3rem, 2.8125vw);
    gap: max(2rem, 1.875vw);

}

.sobre__mim__texto__box {
    width: max(34rem,31.88vw);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: max(2rem, 1.875vw);
    text-align: center;
}

.sobre__mim__titulo {
    font-size: max(2.3rem,2.15vw);
    color: var(--cor-tercearia);
    font-family: var(--fonte-primaria);
    width: max(30rem,28.13vw);
    display: flex;
    justify-content: center;
    text-align: center;
}

.sobre__mim__paragrado {
    font-size: max(1.78vw, 1.9rem);
    font-family: var(--fonte-secundaria);
    font-style: italic;
    display: flex;
    justify-content: end;
    align-items: end;
}

.chuck__box__about {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 80%;
}

.chuck__img__about {
    width: max(600px,31.25vw);
    min-width: 280px;
    border: 0.15rem solid var(--cor-tercearia);
    border-radius: 0.3rem;
}

.rodape {
    background-color: var(--cor-tercearia);
    color: var(--cor-primaria);
    padding-top: max(0.5rem, 0.47vw);
    padding-bottom: max(0.9px, 0.46875vw);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: max(1rem, 0.9375vw);
}

.rodape_flork_box {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.florktxt {
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: max(1.5vw, 1.6rem);
    font-weight: 600;
}

.florkimg {
    width: max(10rem, 9.376vw);
}

.creditos__box {
    width: 99%;
    border-radius: 0.3rem;
    background-color: var(--cor-primaria);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.devtxt {
    font-size: max(1.2rem, 1.125vw);
    color: var(--cor-tercearia);
    width: 100%;
    line-height: 1.4;
    font-family: var(--fonte-secundaria);
    padding-block: max(0.94vw, 1rem);
}

.dev__link__box {
    display: flex;
    gap: max(1.5rem,1.41vw);
    padding-bottom: max(1rem,0.94vw);
}

.dev__link {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;
    font-weight: 600;
    border: 0.05rem solid var(--cor-tercearia);
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    width: max(8.425vw,9rem);
    font-size: max(1.125vw,1.2rem);
    padding-block: max(0.25rem,0.235vw);
}

.dev__logo__link {
    width: max(2rem,1.875vw);
}

.ref__box {
    color: var(--cor-tercearia);
    width: 100%;
    line-height: 1.7;
    border: 0.05rem solid var(--cor-tercearia);
    padding-block: max(1rem,0.94vw);
}

.txt__creditos {
    font-family: var(--fonte-secundaria);
    font-size: max(1.125vw,1.2rem);
}

.creditos__link {
    font-family: var(--fonte-tercearia);
    font-weight: 400;
    text-decoration: none;
    color: var(--cor-secundaria);
    padding-inline: max(8px,0.4167vw);
    border: 0.05rem solid var(--cor-secundaria);
    border-radius: 0.3rem;
    line-height: 1.6;
}

.creditos__link:hover {
    background-color: var(--cor-quartenaria);
}

.branco {
    color: var(--cor-secundaria);
}


@media (max-width: 1200px) {
    .cabecalho__menu__link {
        font-size: 2.355vw;
    }

    .span2 {
        padding: 0.3rem 1rem 0;
        padding-bottom: max(1vw, 6.360px);
    }

    .span1 {
        padding-inline: max(0.75vw, 4.162px);
    }

    .apresentacao__box {
        gap: max(3vw, 14.42px);
        padding-inline: 3.5%;
        padding-top: max(7.5vw, 3rem);
        padding-bottom: max(2.5vw, 1rem);
    }

    .apresentacao__inicial {
        gap: max(3vw, 9px);
    }

    .apresentacao__inicial__titulo {
        font-size: 3.45vw;
    }

    .apresentacao__inicial__texto {
        font-size: 2.7vw;
        width: 55vw;
        font-weight: 600;
    }

    .painel__apresentacao {
        flex-direction: column;
        gap: max(2.94vw, 1rem);
    }

    .apresentacao__links__box__primario {
        width: max(50vw, 300px);
        gap: max(1rem, 2.5vw);
    }

    .apresentacao__links__box__secundario {
        width: max(50vw, 300px);
        align-items: unset;
        justify-content: center;
        flex-direction: unset;
        flex-wrap: wrap;
        gap: max(13px, 1.8vw)
    }

    .apresentacao__links__subtitulo__box {
        width: max(17.5vw, 135px);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .apresentacao__links__subtitulo {
        font-size: max(1.95vw, 0.7rem);

    }

    .apresentacao__links__botao {
        width: max(18vw, 130px);
        font-size: max(2.1vw, 0.8rem);
        border: 0.1rem solid var(--cor-tercearia);
    }

    .chuck__box {
        justify-content: center;
        width: 80%;
    }

    .chuck__img {
        width: 50vw;
    }

    .imglogo {
        width: max(3vw, 22px);
    }
    .sobre__mim__box{
        gap: max(3vw, 14.42px);
        padding-inline: 3.5%;
        padding-top: max(7.5vw, 3rem);
        padding-bottom: max(2.5vw, 1rem);
    }
    .sobre__mim__texto__box{
        width: max(51vw,260px);
    }
    .sobre__mim__titulo {
        font-size: 3.45vw;
        width: max(45vw,200px);
    }
    .sobre__mim__paragrado {
    font-size: 2.85vw;
    width: max(51vw, 269.1px);
    }
    .chuck__img__about {
        width: 50vw;
    }
    .ref__box {
        padding-block: max(1.5vw, 0.8rem);
    }

    .dev__link__box {
        padding-bottom: 15px;
        gap: max(0.8rem, 2.3vw);
    }

    .dev__link {
        font-size: max(1.8vw, 0.8rem);
        width: max(13.5vw, 110px);
    }

    .devtxt {
        font-size: max(1.8vw, 0.9rem);
        padding-block: max(1.5vw, 0.5rem);
    }

    .florktxt {
        font-size: max(2.4vw, 1rem);
    }

    .florkimg {
        width: max(15vw, 108px);
    }

    .rodape {
        gap: max(10.8px, 1.5vw);
        padding-top: max(10.8px, 1.5vw);
    }

    .dev__logo__link {
        width: max(3vw, 22px);
        ;
    }

    .txt__creditos {
        font-size: max(1.8vw, 0.9rem);
    }
}

@media (max-width: 720px) {

    .florktxt {
        font-weight: 900;
    }

}