@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&family=Tilt+Neon&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #FFFFFF;
    --cor-tercearia: #cd6f6f;
    --cor-quartenaria: #302e2e;
    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
    --fonte-tercearia: 'Tilt Neon', sans-serif;
    --tamanhofonte-primaria: 2.3rem;
    --tamanhofonte-secundaria: 1.8rem;
    --tamanhofonte-terceario: 1.4rem;
    --tamanhofonte-quartenaria: 1.25rem;

    --tamanho-fonte-full-1: 2.2vw;
    --tamanho-fonte-full-2: 1.8vw;
    --tamanho-fonte-full-3: 1.5vw;
    --tamanho-fonte-full-4: 1.2vw;

    --tamanho-fonte-horizontal-1: 3vw;
    --tamanho-fonte-horizontal-2: 2.5vw;
    --tamanho-fonte-horizontal-3: 2vw;
    
    --tamanho-fonte-vertical-1: 1.2rem;
    --tamanho-fonte-vertical-2: 1.1rem;
    --tamanho-fonte-vertical-3: 1rem;

    --borda-full-1: 0.2vw;
    --borda-full-2: 0.1vw;

    --borda-vertical-1: 0.5vw;
    --borda-vertical-2: 0.2vw;

    --borda-horizontal-1: 0.25vw;
    --borda-horizontal-2: 0.1vw;

    --border-radius-1: 3vw;
    --border-radius-2: 1.5vw;
    --border-radius-3: 1vw;

    --border-radius-horizontal-1: 1.5vw;
    --border-radius-horizontal-2: 0.75vw;
    --border-radius-horizontal-3: 0.5vw;

    --gap-full-1: 2vw;
    --gap-full-2: 1.4vw;

    --gap-vertical-1: 5vw;
    --gap-vertical-2: 2.5vw;

    --gap-horizontal-1: 2.5vw;
    --gap-horizontal-2: 1.25vw;

    --padding-block-1: 1.5vw;
    --padding-block-2: 0.8vw;
    --padding-block-3: 0.5vw;

    --padding-block-horizontal-1: 0.75vw;
    --padding-block-horizontal-2: 0.4vw;
    --padding-block-horizontal-3: 0.25vw;

    --padding-top-1: 12vw;
    --padding-top-horizontal-1: 9vw;
}

* {
    line-height: 1.3;
}

.cabecalho {
    background-color: var(--cor-tercearia);
    padding-inline: 450px;
}

.cabecalho__menu {
    display: flex;
    gap: 112px;
    height: 3.5px;
}

.cabecalho__menu__link {
    text-decoration: none;
    font-size: 3.33rem;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    padding-top: 7.2px;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    min-width: 420px;
}

.titulo-destaque {
    color: var(--cor-tercearia);
}

.span1 {
    color: var(--cor-tercearia);
    border: 1px solid var(--cor-tercearia);
    padding-inline: 18.7px;
    background-color: var(--cor-primaria);
}

.span2 {
    color: var(--cor-tercearia);
    border: 3.5px solid var(--cor-tercearia);
    padding: 36px 37.6px 22.5px;
    background-color: var(--cor-primaria);
}

.span2:hover {
    background-color: var(--cor-quartenaria);
}

.apresentacao__box {
    padding: 187.5px 3.5% 112.5px;
    display: flex;
    flex-direction: column;
    gap: 74px;
}

.apresentacao__inicial {
    display: flex;
    flex-direction: column;
    gap: 75px;
    text-align: center;
    align-items: center;
}

.apresentacao__inicial__titulo {
    font-size: 4.8rem;
    font-family: var(--fonte-primaria);
    text-align: center;
}

.apresentacao__inicial__texto {
    width: 1350px;
    font-size: 3.75rem;
    font-family: var(--fonte-secundaria);
}

.painel__apresentacao {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 75px;
}

.apresentacao__links__box__primario {
    flex-direction: column;
    width: 655.2px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
}

.apresentacao__links__box__secundario {
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 56.25px;
}

.apresentacao__links__subtitulo__box {
    width: 450px;
    border-radius: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-tercearia);
}

.apresentacao__links__subtitulo {
    white-space: nowrap;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size: 2.7rem;
    color: var(--cor-primaria);
    text-align: center;
    line-height: 1.6;
}

.apresentacao__links__botao {
    padding: 18.75px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;
    font-size: 2.9rem;
    font-weight: 600;
    text-decoration: none;
    border: 0.15rem solid var(--cor-tercearia);
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    width: 450px;
}

.apresentacao__links__botao:hover {
    background-color: var(--cor-quartenaria);
}

.imglogo {
    width: 75px;
}

.chuck__box {
    display: flex;
    box-sizing: border-box;
}

.chuck__img {
    border: 0.15rem solid var(--cor-tercearia);
    border-radius: 0.3rem;
    width: 1250px;
}

.sobre__mim__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 187.5px 3.5% 112.5px;
    gap: 75px;

}

.sobre__mim__texto__box {
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 75px;
    text-align: center;
}

.sobre__mim__titulo {
    font-size: 4.75rem;
    color: var(--cor-tercearia);
    font-family: var(--fonte-primaria);
    width: 75%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.sobre__mim__paragrado {
    font-size: 3.95rem;
    font-family: var(--fonte-secundaria);
    font-style: italic;
    display: flex;
    justify-content: end;
    align-items: end;
}

.chuck__box__about {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 80%;
}

.chuck__img__about {
    width: 1250px;
    border: 0.15rem solid var(--cor-tercearia);
    border-radius: 0.3rem;
}

.rodape {
    background-color: var(--cor-tercearia);
    color: var(--cor-primaria);
    padding: 18.75px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 37.5px;
}

.rodape_flork_box {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.florktxt {
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 3.3rem;
    font-weight: 600;
}

.florkimg {
    width: 375px;
}

.creditos__box {
    width: 99%;
    border-radius: 0.3rem;
    background-color: var(--cor-primaria);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.devtxt {
    font-size: 2.5rem;
    color: var(--cor-tercearia);
    width: 100%;
    line-height: 1.4;
    font-family: var(--fonte-secundaria);
    padding-block: 37.6px;
}

.dev__link__box {
    display: flex;
    gap: 56.4px;
    padding-bottom: 37.6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dev__link {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;
    font-weight: 600;
    border: 0.05rem solid var(--cor-tercearia);
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    width: 337px;
    font-size: 2.5rem;
    padding: 9.4px 0;
}

.dev__logo__link {
    width: 75px;
}

.ref__box {

    color: var(--cor-tercearia);
    width: 100%;
    line-height: 1.7;
    border: 0.05rem solid var(--cor-tercearia);
    padding: 37.6px 0;
}

.txt__creditos {
    font-size: 2.5rem;
    font-family: var(--fonte-secundaria);
}

.creditos__link {
    font-family: var(--fonte-tercearia);
    font-weight: 400;
    text-decoration: none;
    color: var(--cor-secundaria);
    padding: 0 16.6px;
    border: 0.05rem solid var(--cor-secundaria);
    border-radius: 0.3rem;
    line-height: 1.6;
}

.creditos__link:hover {
    background-color: var(--cor-quartenaria);
}

.branco {
    color: var(--cor-secundaria);
}

@media (max-width: 2560px) {
    .cabecalho {
        padding-inline: 216px;
    }

    .cabecalho__menu {
        gap: 3rem;
    }

    .cabecalho__menu__link {
        font-size: 1.6rem;
    }

    .titulo-destaque {
        color: var(--cor-tercearia);
    }

    .span1 {
        white-space: nowrap;
        color: var(--cor-tercearia);
        border: 1px solid var(--cor-tercearia);
        padding-inline: 0.5rem;
        background-color: var(--cor-primaria);
    }

    .span2 {
        padding: 2rem 1rem 0.6rem;
    }


    .apresentacao__box {
        padding: 5rem 3.5% 3rem;
        gap: 2rem;
    }

    .apresentacao__inicial {
        gap: 2rem;
    }

    .apresentacao__inicial__titulo {
        font-size: var(--tamanhofonte-primaria);
    }

    .apresentacao__inicial__texto {
        width: 35rem;
        font-size: var(--tamanhofonte-secundaria);
    }

    .painel__apresentacao {
        gap: 2rem;
    }

    .apresentacao__links__box__primario {
        width: 18rem;
        gap: 21.6px;
    }

    .apresentacao__links__box__secundario {
        gap: 1.5rem;
    }

    .apresentacao__links__subtitulo__box {
        width: 12rem;
    }

    .apresentacao__links__subtitulo {
        font-size: 1.3rem;
    }

    .apresentacao__links__botao {
        padding: 0.5rem 0;
        font-size: var(--tamanhofonte-terceario);
        width: 12rem;
    }

    .imglogo {
        width: 2rem;
    }

    .chuck__img {
        width: 600px;
    }

    .sobre__mim__box {
        padding: 90px 3.5% 54px;
        gap: 2rem;
    }

    .sobre__mim__texto__box {
        width: 85%;
        gap: 2rem;
    }

    .sobre__mim__titulo {
        font-size: var(--tamanhofonte-primaria);

    }

    .sobre__mim__paragrado {
        font-size: 1.9rem;
    }

    .chuck__img__about {
        width: 600px;
    }

    .rodape {
        padding: 0.5rem 0;
        gap: 1rem;
    }

    .florktxt {
        font-size: 1.6rem;
    }

    .florkimg {
        width: 10rem;
    }

    .devtxt {
        font-size: 1.2rem;
        padding: 1rem 0 1rem 0;
    }

    .dev__link__box {
        gap: 1.5rem;
        padding-bottom: 1rem;
    }

    .dev__link {
        width: 9rem;
        font-size: 1.2rem;
        padding: 0.25rem 0;
    }

    .dev__logo__link {
        width: 2rem;
    }

    .ref__box {

        padding: 1rem 0 1rem 0;
    }

    .txt__creditos {
        font-size: 1.2rem;

    }

    .creditos__link {

        padding: 0 8px;

    }

}

@media (max-width: 900px) {

    .cabecalho__menu__link {
        font-size: 0.94rem;
    }

    .cabecalho {
        padding-inline: 135px;
    }

    .span2 {
        padding: 0.3rem 1rem 7.2px;
    }

    .span1 {
        padding-inline: 5.4px;
    }

    .apresentacao__box {
        padding: 5rem 3.5% 2rem;
        gap: 2.6rem;
    }

    .apresentacao__inicial {
        gap: 21.6px;
    }

    .apresentacao__inicial__titulo {
        font-size: 1.4rem;
    }

    .apresentacao__inicial__texto {
        font-size: 1.2rem;
        width: 406px;
    }

    .painel__apresentacao {
        flex-direction: column;
        gap: 21.6px;
    }

    .apresentacao__links__box__primario {
        width: 100%;
        gap: 18px;
    }

    .apresentacao__links__box__secundario {
        width: 360px;
        align-items: unset;
        justify-content: center;
        flex-direction: unset;
        flex-wrap: wrap;
        gap: 13px;
    }

    .apresentacao__links__subtitulo__box {
        width: 135px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .apresentacao__links__subtitulo {
        font-size: 0.8rem;

    }

    .apresentacao__links__botao {
        width: 130px;
        font-size: 0.84rem;
        padding: 9px 0;
        border: 0.1rem solid var(--cor-tercearia);
    }

    .sobre__mim__box {
        padding: 3rem 3.5% 1rem;
        gap: 14.42px;
    }

    .sobre__mim__titulo {
        font-size: 1.38rem;
    }

    .sobre__mim__paragrado {
        font-size: 1.14rem;
        width: 70%
    }

    .chuck__img__about {
        width: 360px;
    }

    .chuck__box {
        justify-content: center;
        width: 80%;
    }

    .chuck__img {
        width: 360px;
    }

    .imglogo {
        width: 22px;
    }

    .ref__box {
        padding: 15px 0;
    }

    .dev__link__box {
        padding-bottom: 15px;
        gap: 1.2rem;
    }

    .dev__link {
        font-size: 0.85rem;
        width: 7rem;
    }

    .devtxt {
        font-size: 1.2rem;
    }

    .florktxt {
        font-size: 1rem;
    }

    .florkimg {
        width: 108px;
    }

    .rodape {
        gap: 10.8px;
        padding: 10.8px 0 3.375px;
    }

    .dev__logo__link {
        width: 22px;
    }


    .txt__creditos {
        font-size: 0.9rem;
    }
}

@media (orientation:portrait) {
    .cabecalho__menu__link {
        font-size: var(--tamanho-fonte-vertical-2);
    }

    .cabecalho {
        padding-inline: 2rem;
    }
    .cabecalho__menu{
        gap: 1rem;
    }

    .span2 {
        padding: 0.3rem 1rem 0.45rem;
    }

    .span1 {
        padding-inline: 0.3rem;
    }

    .apresentacao__box {
        padding: 4rem 3.5% 2rem;
        gap: 2.6rem;
    }

    .apresentacao__inicial {
        gap: 1.35rem;
    }

    .apresentacao__inicial__titulo {
        font-size: var(--tamanho-fonte-vertical-1);
    }

    .apresentacao__inicial__texto {
        font-size: var(--tamanho-fonte-vertical-2);
        width: 95%;
        font-weight: 600;
        min-width: 385px;
    }

    .painel__apresentacao {
        flex-direction: column;
        gap: 1.35rem;
    }

    .apresentacao__links__box__primario {
        width: 100%;
        gap: 1.5rem;
    }

    .apresentacao__links__box__secundario {
        width: 100%;
        align-items: unset;
        justify-content: center;
        flex-direction: unset;
        flex-wrap: wrap;
        gap: 1rem;
    }

    .apresentacao__links__subtitulo__box {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: fit-content;
        padding: 0.5rem;
    }

    .apresentacao__links__subtitulo {
        font-size: var(--tamanho-fonte-vertical-2);

    }

    .apresentacao__links__botao {
        width: 40%;
        font-size: var(--tamanho-fonte-vertical-2);
        padding: 0.5rem;
        border: 0.1rem solid var(--cor-tercearia);
        min-width: fit-content;
    }

    .sobre__mim__box {
        padding: 5rem 3.5% 2rem;
        gap: 2rem;
    }

    .sobre__mim__titulo {
        font-size: var(--tamanho-fonte-vertical-1);
    }

    .sobre__mim__paragrado {
        font-size: var(--tamanho-fonte-vertical-2);
        width: 85%;
    }
    .sobre__mim__texto__box{
        width: 85%;
    }

    .chuck__img__about {
        width: 85%;
    }

    .chuck__box__about {
        width: 100%;
    }

    .chuck__box {
        justify-content: center;
        width: 100%;
    }

    .chuck__img {
        width: 85%;
    }

    .imglogo {
        width: 1.5rem;
    }

    .florktxt {
        font-size: var(--tamanho-fonte-vertical-1);
    }

    .florkimg {
        width: 35%;
    }

    .rodape {
        gap: 1rem;
        padding: 1rem 0 0.3rem;
    }

    .ref__box {
        padding: 1rem 0;
    }

    .dev__link__box {
        padding-bottom: 1rem;
        gap: 1.2rem;
    }

    .dev__link {
        font-size: var(--tamanho-fonte-vertical-2);
        width: 40%;
        min-width: fit-content;
        padding: 0.5rem;
    }

    .devtxt {
        font-size: var(--tamanho-fonte-vertical-2);
    }

    .dev__logo__link {
        width: 1.5rem;
    }

    .txt__creditos {
        font-size: var(--tamanho-fonte-vertical-2)
    }
}