@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&family=Tilt+Neon&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #FFFFFF;
    --cor-tercearia: #eec671;
    --cor-quartenaria: #302e2e;
    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
    --fonte-tercearia: 'Tilt Neon', sans-serif;
    --tamanhofonte-primaria: 2.155vw;
    --tamanhofonte-secundaria: 1.8vw;
    --tamanhofonte-terceario: 1.5vw;
    --tamanhofonte-quartenaria: 1.2vw;
    --tamanho-fonte-vertical-1: 4.5vw;
    --tamanho-fonte-vertical-2: 4vw;
    --tamanho-fonte-vertical-3: 3.5vw;
    --borda-vertical-1: 0.5vw;
    --borda-vertical-2: 0.2vw;
    --border-radius-1: 3vw;
    --border-radius-2: 1.5vw;
    --border-radius-3: 1vw;
    --gap-vertical-1: 5vw;
    --gap-vertical-2: 2.5vw;
    --border-radius: 0.3rem;
    --padding-block-1: 1.5vw;
    --padding-block-2: 0.8vw;
    --padding-block-3: 0.5vw;
    --padding-top-1: 12vw;
}

* {
    line-height: 1.3;
}

.cabecalho {
    background-color: var(--cor-tercearia);
    padding: 0 11.25vw;
}

.cabecalho__menu {
    display: flex;
    gap: max(2.8vw, 3rem);
    height: 0.2rem;
}

.cabecalho__menu__link {
    text-decoration: none;
    font-size: max(1.5vw, 1.57rem);
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    padding-top: 0.4rem;
}

body {
    min-width: 320px;
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.titulo-destaque {
    color: var(--cor-tercearia);
}

.span1 {
    white-space: nowrap;
    color: var(--cor-tercearia);
    border: 0.1rem solid var(--cor-tercearia);
    padding-inline: max(0.5rem, 0.469vw);
    background-color: var(--cor-primaria);
}

.span2 {
    color: var(--cor-tercearia);
    border: 0.2rem solid var(--cor-tercearia);
    padding-top: 2rem;
    padding-inline: max(1rem, 0.94vw);
    padding-bottom: max(0.6rem, 0.5625vw);
    background-color: var(--cor-primaria);
}

.span2:hover {
    background-color: var(--cor-quartenaria);
}

.apresentacao__box {
    padding-top: max(7rem, 4.6875vw);
    padding-inline: 3.5%;
    padding-bottom: max(3rem, 2.8125vw);
    display: flex;
    flex-direction: column;
    gap: max(2rem, 1.875vw);
}

.apresentacao__inicial {
    display: flex;
    flex-direction: column;
    gap: max(2rem, 1.875975vw);
    text-align: center;
    align-items: center;
}

.apresentacao__inicial__titulo {
    font-size: max(2.15625vw, 2.3rem);
    font-family: var(--fonte-primaria);
    text-align: center;
    min-width: 280px;
    width: 50vw;
}

.apresentacao__inicial__texto {
    min-width: 17rem;
    width: max(33.75vw, 36rem);
    font-size: max(1.6875vw, 1.8rem);
    font-family: var(--fonte-secundaria);
}

.painel__apresentacao {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: max(2rem, 1.875vw);
}

.apresentacao__links__box__primario {
    flex-direction: column;
    width: max(18rem, 16.38vw);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: max(1.2rem, 1.125585vw);
}

.apresentacao__links__box__secundario {
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: max(1.5rem, 1.40625vw);
}

.apresentacao__links__subtitulo__box {
    width: max(11.2508vw, 12rem);
    border-radius: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-tercearia);
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size: max(1.21875vw, 1.3rem);
    color: var(--cor-primaria);
    text-align: center;
    line-height: 1.6;
}

.apresentacao__links__botao {
    width: max(12rem, 11.25081vw);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;
    font-size: max(1.3125vw, 1.4rem);
    font-weight: 600;
    text-decoration: none;
    border: 0.15rem solid var(--cor-tercearia);
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    padding-block: max(0.5rem, 0.46875vw);
}

.apresentacao__links__botao:hover {
    background-color: var(--cor-quartenaria);
}

.imglogo {
    width: max(2rem, 1.875vw);
}

.chuck__box {
    display: flex;
    box-sizing: border-box;
}

.chuck__img {
    border: 0.15rem solid var(--cor-tercearia);
    border-radius: 0.3rem;
    width: max(600px, 31.25vw);
    min-width: 280px
}

.sobre__mim__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: max(5rem, 4.6875vw);
    padding-inline: 3.5%;
    padding-bottom: max(3rem, 2.8125vw);
    gap: max(2rem, 1.875vw);

}

.sobre__mim__texto__box {
    width: max(34rem, 31.88vw);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: max(2rem, 1.875vw);
    text-align: center;
}

.sobre__mim__titulo {
    font-size: max(2.3rem, 2.15vw);
    color: var(--cor-tercearia);
    font-family: var(--fonte-primaria);
    width: max(30rem, 28.13vw);
    display: flex;
    justify-content: center;
    text-align: center;
}

.sobre__mim__paragrado {
    font-size: max(1.78vw, 1.9rem);
    font-family: var(--fonte-secundaria);
    font-style: italic;
    display: flex;
    justify-content: end;
    align-items: end;
}

.chuck__box__about {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 80%;
}

.chuck__img__about {
    width: max(600px, 31.25vw);
    min-width: 280px;
    border: 0.15rem solid var(--cor-tercearia);
    border-radius: 0.3rem;
}

.rodape {
    background-color: var(--cor-tercearia);
    color: var(--cor-primaria);
    padding-top: max(0.5rem, 0.47vw);
    padding-bottom: max(0.9px, 0.46875vw);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: max(1rem, 0.9375vw);
}

.rodape_flork_box {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.florktxt {
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: max(1.5vw, 1.6rem);
    font-weight: 600;
}

.florkimg {
    width: max(10rem, 9.376vw);
}

.creditos__box {
    width: 99%;
    border-radius: 0.3rem;
    background-color: var(--cor-primaria);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.devtxt {
    font-size: max(1.2rem, 1.125vw);
    color: var(--cor-tercearia);
    width: 100%;
    line-height: 1.4;
    font-family: var(--fonte-secundaria);
    padding-block: max(0.94vw, 1rem);
}

.dev__link__box {
    display: flex;
    gap: max(1.5rem, 1.41vw);
    padding-bottom: max(1rem, 0.94vw);
}

.dev__link {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;
    font-weight: 600;
    border: 0.05rem solid var(--cor-tercearia);
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    width: max(8.425vw, 9rem);
    font-size: max(1.125vw, 1.2rem);
    padding-block: max(0.25rem, 0.235vw);
}

.dev__logo__link {
    width: max(2rem, 1.875vw);
}

.ref__box {
    color: var(--cor-tercearia);
    width: 100%;
    line-height: 1.7;
    border: 0.05rem solid var(--cor-tercearia);
    padding-block: max(1rem, 0.94vw);
}

.txt__creditos {
    font-family: var(--fonte-secundaria);
    font-size: max(1.125vw, 1.2rem);
}

.creditos__link {
    font-family: var(--fonte-tercearia);
    font-weight: 400;
    text-decoration: none;
    color: var(--cor-secundaria);
    padding-inline: max(8px, 0.4167vw);
    border: 0.05rem solid var(--cor-secundaria);
    border-radius: 0.3rem;
    line-height: 1.6;
}

.creditos__link:hover {
    background-color: var(--cor-quartenaria);
}

.branco {
    color: var(--cor-secundaria);
}



@media (orientation: portrait) {
    .cabecalho__menu {
        gap: var(--gap-vertical-1);
        height: 0.5vw
    }

    .cabecalho__menu__link {
        font-size: var(--tamanho-fonte-vertical-2);
        padding-top: 1.5vw;
    }

    .span2 {
        padding: 5vw 2vw 1vw;
        border: var(--borda-vertical-1) solid var(--cor-tercearia);
    }

    .span1 {
        padding-inline: 1vw;
    }

    .apresentacao__box {
        gap: var(--gap-vertical-1);
        padding-inline: var(--tamanho-fonte-vertical-3);
        padding-top: var(--padding-top-1);
        padding-bottom: var(--gap-vertical-1);
    }

    .apresentacao__inicial {
        gap: var(--gap-vertical-1);
    }

    .apresentacao__inicial__titulo {
        font-size: var(--tamanho-fonte-vertical-1);
        min-width: 280px;
        width: 56vw;
    }

    .apresentacao__inicial__texto {
        font-size: var(--tamanho-fonte-vertical-1);
        width: 87vw;

        font-weight: 600;
    }

    .painel__apresentacao {
        flex-direction: column;
        gap: var(--gap-vertical-1);
    }

    .apresentacao__links__box__primario {
        width: 100%;
        gap: var(--gap-vertical-1);
    }

    .apresentacao__links__box__secundario {
        width: 100%;
        align-items: unset;
        justify-content: center;
        flex-direction: unset;
        flex-wrap: wrap;
        gap: var(--gap-vertical-1);
    }

    .apresentacao__links__subtitulo__box {
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0;
    }

    .apresentacao__links__subtitulo {
        font-size: var(--tamanho-fonte-vertical-2);
    }

    .apresentacao__links__botao {
        min-width: 110px;
        width: 35vw;
        font-size: var(--tamanho-fonte-vertical-1);
        border: var(--borda-vertical-2) solid var(--cor-tercearia);
        padding-block: var(--padding-block-1);
        border-radius: var(--border-radius-2);
    }

    .chuck__box {
        justify-content: center;
        width: 95%;
    }

    .chuck__img {
        width: 80vw;
        border: var(--borda-vertical-1) solid var(--cor-tercearia);
        border-radius: var(--border-radius-2);
    }

    .imglogo {
        width: 6vw;
    }

    .sobre__mim__box {
        gap: var(--gap-vertical-1);
        padding-inline: 3.5%;
        padding-top: var(--padding-top-1);
        padding-bottom: var(--gap-vertical-1);
    }

    .sobre__mim__texto__box {
        width: 50vw;
    }

    .sobre__mim__titulo {
        font-size: var(--tamanho-fonte-vertical-2);
        width: 45vw;
    }

    .sobre__mim__paragrado {
        font-size: var(--tamanho-fonte-vertical-1);
        width: 50vw;
    }

    .chuck__img__about {
        width: 50vw;
    }


    .rodape {
        gap: 0;
        padding-top: 0;
    }

    .florktxt {
        font-size: var(--tamanho-fonte-vertical-1);
    }

    .florkimg {
        width: 27vw;
    }

    .dev__link__box {
        gap: var(--gap-vertical-1);
        padding-bottom: var(--gap-vertical-2);
    }

    .dev__link {
        width: 27vw;
        font-size: var(--tamanho-fonte-vertical-2);
        padding-block: var(--padding-block-2);
        border: var(--borda-vertical-2) solid var(--cor-tercearia);
        border-radius: var(--border-radius-3);
    }

    .devtxt {
        font-size: var(--tamanho-fonte-vertical-2);
        padding-block: var(--padding-block-1);
    }

    .dev__logo__link {
        width: 6vw;
    }

    .ref__box {
        padding-block: var(--padding-block-1);
    }

    .txt__creditos {
        font-size: var(--tamanho-fonte-vertical-2);
    }

    .creditos__link {
        padding-block: var(--padding-block-3);
        padding-inline: var(--padding-block-1);
        border: var(--borda-vertical-2) solid var(--cor-secundaria);
        border-radius: var(--border-radius-1);
    }
}